CREATE DATABASE [dbTSQL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbTSQL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\dbTSQL.mdf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbTSQL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\dbTSQL_log.ldf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
GO
USE [dbTSQL]
GO
USE [dbTSQL]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [dbTSQL] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
